USE [master]
GO
/****** Object:  Database [VehicleRegistration]    Script Date: 02-04-2021 20:37:18 ******/
CREATE DATABASE [VehicleRegistration]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleRegistration', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleRegistration.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleRegistration_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VehicleRegistration_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleRegistration].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleRegistration]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomerDetails]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomerDetails](
	[CustomerID] [nvarchar](128) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCustomerRegistrationPaymentDetail]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCustomerRegistrationPaymentDetail](
	[RegistrationID] [int] NOT NULL,
	[PaidAmount] [decimal](13, 2) NOT NULL,
	[DueAmount] [decimal](13, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVehicle]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehicle](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleName] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblVehicleRegistrationDetails]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblVehicleRegistrationDetails](
	[VRegistrationID] [int] IDENTITY(1,1) NOT NULL,
	[VRegistrationAmount] [decimal](13, 2) NOT NULL,
	[VRegistrationYear] [int] NOT NULL,
	[AllRegAmountPaid] [int] NULL,
	[VehicleID] [int] NOT NULL,
	[CustomerID] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VRegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_VehicleRegistrationDetails]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE View [dbo].[VW_VehicleRegistrationDetails]
as
	SELECT VRegistrationID as RegistrationID, CustomerName, VehicleName, VRegistrationAmount as RegistrationAmount, VRegistrationYear as RegistrationYear, 
	AllRegAmountPaid, ISNULL(PaidAmount,0) AS PaidAmount, ISNULL(DueAmount,VRegistrationAmount) AS DueAmount 
	FROM AspNetUsers AS ANU
	INNER JOIN tblCustomerDetails AS CD ON ANU.Id = CD.CustomerID
	INNER JOIN tblVehicleRegistrationDetails AS VR ON CD.CustomerID = VR.CustomerID
	INNER JOIN tblVehicle AS V ON VR.VehicleID = V.VehicleID
	LEFT OUTER JOIN tblCustomerRegistrationPaymentDetail AS RAPAID ON VR.VRegistrationID = RAPAID.RegistrationID
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 02-04-2021 20:37:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'1b1f499f-1ac2-4618-82b9-41bb89afee47', N'james@gmail.com', 0, N'ALav7tvxcqbxR0038a2jfjIQ1SWe/mUiQW41umcSzhiHiNi4LjFdz4MjGZRBwqkmzw==', N'd9afb46d-3f22-4d0c-97a8-1fb4b285a5de', NULL, 0, 0, NULL, 1, 0, N'james@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'474b5593-c418-4077-addb-40c627121869', N'somnath.das@gmail.com', 0, N'AGb2aXye2hS7/oGV4Vvh538mC/8++PWxR9wMOGCiKjOm9rY/eosuCrbZ+xMS0RqtkQ==', N'bf87fd56-e0c3-40f9-985e-d6b56201c287', NULL, 0, 0, NULL, 1, 0, N'somnath.das@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'714f317a-639f-4c0e-9d70-051fdcfc46bf', N'william@gmail.com', 0, N'AE1CFED3pszu3PUKWACs1QZM3LkVoyx96UacsLozu512nIwUasZ3fTkRkzE3Z+NaoA==', N'd33b2056-527f-4dd5-b00c-7988d95bd167', NULL, 0, 0, NULL, 1, 0, N'william@gmail.com')
GO
INSERT [dbo].[tblCustomerDetails] ([CustomerID], [CustomerName]) VALUES (N'1b1f499f-1ac2-4618-82b9-41bb89afee47', N'James')
INSERT [dbo].[tblCustomerDetails] ([CustomerID], [CustomerName]) VALUES (N'714f317a-639f-4c0e-9d70-051fdcfc46bf', N'William')
INSERT [dbo].[tblCustomerDetails] ([CustomerID], [CustomerName]) VALUES (N'8d67a39c-d9e5-421e-bb3d-f7e183d47638', N'Somnath Das')
GO
SET IDENTITY_INSERT [dbo].[tblVehicle] ON 

INSERT [dbo].[tblVehicle] ([VehicleID], [VehicleName]) VALUES (1, N'Car')
INSERT [dbo].[tblVehicle] ([VehicleID], [VehicleName]) VALUES (2, N'Bike')
SET IDENTITY_INSERT [dbo].[tblVehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[tblVehicleRegistrationDetails] ON 

INSERT [dbo].[tblVehicleRegistrationDetails] ([VRegistrationID], [VRegistrationAmount], [VRegistrationYear], [AllRegAmountPaid], [VehicleID], [CustomerID]) VALUES (1, CAST(100.00 AS Decimal(13, 2)), 2021, 0, 1, N'714f317a-639f-4c0e-9d70-051fdcfc46bf')
INSERT [dbo].[tblVehicleRegistrationDetails] ([VRegistrationID], [VRegistrationAmount], [VRegistrationYear], [AllRegAmountPaid], [VehicleID], [CustomerID]) VALUES (2, CAST(50.00 AS Decimal(13, 2)), 2021, 0, 2, N'1b1f499f-1ac2-4618-82b9-41bb89afee47')
SET IDENTITY_INSERT [dbo].[tblVehicleRegistrationDetails] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 02-04-2021 20:37:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 02-04-2021 20:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 02-04-2021 20:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 02-04-2021 20:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 02-04-2021 20:37:19 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 02-04-2021 20:37:19 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblVehicleRegistrationDetails] ADD  DEFAULT ((0)) FOR [AllRegAmountPaid]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
/****** Object:  StoredProcedure [dbo].[getVehicleRegistrationDetail]    Script Date: 02-04-2021 20:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[getVehicleRegistrationDetail]
(
	@RegistrationID int
)
as
begin
	SELECT CustomerName, RegistrationAmount, AllRegAmountPaid, PaidAmount, DueAmount  
	FROM VW_VehicleRegistrationDetails where RegistrationID = @RegistrationID 
end
GO
/****** Object:  StoredProcedure [dbo].[getVehicleRegistrationDetails]    Script Date: 02-04-2021 20:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[getVehicleRegistrationDetails]
as
begin
	SELECT RegistrationID, CustomerName, VehicleName, RegistrationAmount, RegistrationYear, AllRegAmountPaid, PaidAmount, DueAmount  
	FROM VW_VehicleRegistrationDetails
end
GO
/****** Object:  StoredProcedure [dbo].[payRegistrationAmount]    Script Date: 02-04-2021 20:37:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[payRegistrationAmount]
(
	@RegistrationID int, 
	@PaymentAmount decimal(13,2)
)
as
begin
	declare @dueAmount decimal(13, 2), @status int
	set @dueAmount = (select IsNull(DueAmount, RegistrationAmount) - @PaymentAmount from VW_VehicleRegistrationDetails where RegistrationID = @RegistrationID)
	set @dueAmount = (select case when @dueAmount < 0 then 0 else @dueAmount end)
	if exists (select 1 from tblCustomerRegistrationPaymentDetail where RegistrationID = @RegistrationID)
	begin
		UPDATE tblCustomerRegistrationPaymentDetail SET PaidAmount = PaidAmount + @PaymentAmount, DueAmount = @dueAmount WHERE RegistrationID = @RegistrationID
	end
	else
	Begin
		insert into tblCustomerRegistrationPaymentDetail(RegistrationID, PaidAmount, DueAmount)
		select @RegistrationID, @PaymentAmount, @dueAmount from tblVehicleRegistrationDetails where VRegistrationID = @RegistrationID	

	end
	set @status = @@ROWCOUNT 

	update tblVehicleRegistrationDetails Set AllRegAmountPaid = case when @dueAmount > 0 then 0 else 1 end where VRegistrationID = @RegistrationID
	select @status as NoOfRowExecuted
end
GO
USE [master]
GO
